/* .MuiPaper-root{
    display: flex;
    width: 100%;
}



.MuiMenu-list {
    display: flex;
}

.MuiMenuItem-gutters{
    display: flex;
    flex-direction: column;
} */

/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

.category{
  width:100%;
}

h3{
	display:block;
	color:#ffffff;
	background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
	font-size:15px;
	line-height: 40px;
}

#contain ul {
	list-style: none;
	position: relative;
	}
	
#contain ul li {
	background-color: #ffffff;
	}

#contain a {
	color:rgb(0, 0, 0);
	font-size:14px;
	line-height: 40px;
	text-decoration:none;
}

#contain a:hover { 
	background-color: #ffffff;
}

/* Hide Dropdowns by Default */
#contain ul ul {
	display: none;
	position: absolute;
	top: 40px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
#contain ul li:hover > ul {
	display:block;
}
	
/* Fisrt Tier Dropdown */
#contain ul ul li {
	width:240%;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
#contain ul ul ul li {
	position: relative;
	top:-40px; 
	right:140px;
}

	
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }