/*****carrousel 3d automatique*****/

*{box-sizing : border-box}

img{max-width:100%}

.contenu_carou_auto{

margin:2rem auto;
width:420px;
height:279px;
perspective:8000px
	
	}
		
.caroussel-image{
	
animation:rotation 24s infinite alternate linear;	
transform-style:preserve-3d;
position:relative;	

}

.caroussel-image img{
	
position: absolute;
top:0;
left: 0;
	
	
	}


		
.caroussel-image img{
	
filter:drop-shadow(0 12px 5px hsla(0,0%,0%,.4));
width:400px;
height:266px;
left:10px;
outline:1px solid transparent;
	
	}
		
.caroussel-image img:nth-child(1){
	
transform:translate3d(0,0,495px)
		
		}
		
.caroussel-image img:nth-child(2){
	
transform:rotateY(45deg) translateZ(495px)
	
		}
		
.caroussel-image img:nth-child(3){
	
	transform:rotateY(90deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(4){
	
	transform:rotateY(135deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(5){
	
	transform:rotateY(180deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(6){
	
	transform:rotateY(225deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(7){
	
	transform:rotateY(270deg) translateZ(495px)
	
	}
	
.caroussel-image img:nth-child(8){
	
	transform:rotateY(315deg) translateZ(495px)
	
	}

	

	
@keyframes rotation{
from{transform:rotatey(0)}
to{transform:rotatey(0.5turn)}}
	
/*****fin carrousel 3d automatique*****/

/* About section */

.main__section {
	padding: 10px;
	background-color: rgba(255, 248, 234, 0.825);
	color: #000000;
  }
  
  .main__container {
	display: flex;
	flex-direction: column;
  }
  
  .main__container h1 {
	font-size: 70px;
	text-align: center;
	color: black;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000000;
	margin-bottom: 32px;
  }
  
  .main__content {
	display: grid;
	grid-template-columns: repeat(2, auto);
    grid-gap: 15px;
  }
  
  .main__text {
	padding-right: 10px;
	display: flex;
  }

  
  .main__text p {
	line-height: 2.5;
  }
  
  
  
  .main__img {
	width: 500px;
	height: 250px;
  -moz-border-radius: 20%;
  -webkit-border-radius: 30%;
  border-radius: 20%;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  filter: saturate(100%) contrast(110%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(231, 231, 231, 0.3));
  }
  
  /* Media Queries */
  @media screen and (max-width: 1000px) {
	.main__section {
	  padding: 30px;
	}
	.main__content {
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr;
	}
  
	.main__image {
	  margin-top: 40px;
	}
  
	.main__container h1 {
	  font-size: 70px;
	}
  }
  
  @media screen and (max-width: 468px) {
	
  
	.main__img {
	  width: 1200px;
	  height: 200px;
	}
  }
  